[submodule "calabash"]
	path = calabash
	url = https://github.com/transpect/calabash-frontend.git
[submodule "css-tools"]
	path = css-tools
	url = https://github.com/transpect/css-tools.git
[submodule "xproc-util"]
	path = xproc-util
	url = https://github.com/transpect/xproc-util.git
[submodule "font-tools"]
	path = font-tools
	url = https://github.com/fonttools/fonttools.git
[submodule "epub2hub-lib"]
	path = epub2hub-lib
	url = https://github.com/transpect/epub2hub-lib.git
[submodule "schema"]
	path = schema
	url = https://github.com/transpect/schema-html
[submodule "xslt-util"]
	path = xslt-util
	url = https://github.com/transpect/xslt-util
